
*
{
  /* outline: solid 3px orange; */
  border-radius: 10px;
}

/* 
#B4DC7F - green
#7B886F - swamp
#DAB6C4 - lavander
#FEFFA5 - yellow
#FFA0AC - light pink  
*/

body 
{
  margin: 40px;
  background-color: #FEFFA5;
}

.sidebar 
{
	grid-area: sidebar;
}

.content 
{
	grid-area: content;
}

.header 
{
    grid-area: header;
    font-family: 'Kirang Haerang', cursive;
}

.footer 
{
    grid-area: footer;
    /* height: 30px; */
}

.wrapper 
{
	display: grid;
    grid-gap: 10px;
	grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 130px 520px 150px 150px;
	grid-template-areas:
    "header header header header"
	"sidebar content content content"
	"sidebar  content content content"
    "footer  footer footer footer";
}

.box 
{ 
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

.logoElement
{
  display: inline-grid;
  float: left;
}

#titleLogo
{
    width: 200px;
    height: 100px;
}
h2
{
  font-size: 300%;
  padding-left: 1em;
}

.upperRight
{
  float: right;
  margin-top: 2em;
  height: 7em;
  width: 15em;
  border-radius: 1em;
}

.picturesSelection
{
      justify-content: center;
      align-items: center;
      float: bottom;
}

table
{

    justify-content: center;
    display: flex;
}

td
{
    text-align:center;
}

tr
{
    /* padding: 10em 10em; */
    
}

#voteButton
{
    text-align: center;
    width: 100%;
    height: 5em;
    padding-top: 1em;
}

canvas
{
    /* margin-top: 4em; */
    width: 50px;
    height: 50px;
}

.picturesSelection
{
    display: inline;
    /* padding: 1em 1em 1em 1em; */
    border-radius: 40px;
    height: 300px;
    width: 300px;
    /* border: solid 1px black; */
    box-shadow: 0px 5px 15px black;
}

#voteButton
{
    padding: 1em 1em 1em 1em;
    margin-top: 2em;
}

canvas
{
    margin-top: 4em;
    width: 40%;
    height: 40%;
}


#picOne
{
    /* animation: spin 1.5s linear infinite; */
}



/* defining animation  */
@keyframes spin {
  0% 
  {
    transform: rotateY(0deg);
  }

  100% 
  {
    transform: rotateY(360deg);
  }
}

