*
{
    /* outline: solid 2px orange; */
}

body
{
    font-family: 'Arvo', serif;
}



.logoElement
{
    font-size: 4em;
    margin-left: 3.5em;
    margin-top: -1em;
}

.headerButtons
{
    margin-top: -3em;
    margin-right: 3em;
    float: right; 
}

button :headerButtons
{
    height: 20px;
}

.picturesSection
{
    margin-top: 3em;
    margin-left: 30em;
}
.picturesSelection
{
    display: inline;
    padding: 1em 1em 1em 1em;
    height: 300px;
    width: 300px;
}

#voteButton
{
    width: 70%;
    margin-left: 20%;
    padding: 1em 1em 1em 1em;
    margin-top: 2em;
}

.radioSection
{
    margin-left: 30em;
}


.radioButtons
{
    margin-left: 11em;
    margin-right: 11em;
    padding-left: 5%;
    padding-right: 5%;
}

.resultsSection
{
    font-size: 2em;
    padding: 1em 1em 1em 1em;
    margin-top: -10em;
}

#descriptionSection
{
    padding-left: 28em;
    padding-right: 4em;
    /* after results on a screen */
    /* margin-top: -23em;  */

    /* before results on a screen */
    margin-top: 16em;
}